[submodule "Server"]
        path = Server 
        url = https://github.com/Happykat/Rss-Feed-Aggregator-Server
        branch = master
[submodule "WebClient"]
        path = WebClient 
        url = https://github.com/Happykat/Rss-Feed-Aggregator-Web
        branch = master

